
    .col-1{
        width: 8.33%;
    }

    .col-3{
        width: 25%;
    }

    .col-4{
        width: 33.33%;
    }

    .col-6{
        width: 50%;
    }

    .col-8{
        width: 66.66%;
    }

    .col-12{
        width: 100%;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .flex-wrap{
        flex-wrap: wrap;
    }

    .display-flex{
        display: flex;
    }


    .text-color-white{
        color: white;
    }

    .align-items-center{
        align-items: center;
    }

    .justify-content-center{
        justify-content: center;
    }

    .justify-content-space-around{
        justify-content: space-around;
    }

    .justify-content-end{
        justify-content: end;
    }

    .margin-left-0-5-rem{
        margin-left: 0.5rem;
    }

    .margin-left-1-rem{
        margin-left: 1rem;
    }

    .margin-left-1-5-rem{
        margin-left: 1.5rem;
    }

    .margin-left-2-rem{
        margin-left: 2rem;
    }

    .margin-left-8-5-rem{
        margin-left: 8.5rem;
    }

    .margin-right-1-rem{
        margin-right: 1rem;
    }

    .margin-right-2-rem{
        margin-right: 2rem;
    }

    .margin-top-1-rem{
        margin-top: 1rem;
    }

    .margin-top-2-rem{
        margin-top: 2rem;
    }

    .margin-top-3-rem{
        margin-top: 3rem;
    }

    .margin-top-4-rem{
        margin-top: 4rem;
    }

    .margin-top-5-rem{
        margin-top: 5rem;
    }

    .margin-top-6-rem{
        margin-top: 6rem;
    }

    .margin-top-10-rem{
        margin-top: 10rem;
    }

    .padding-1-rem{
        padding: 1rem;
    }

    .padding-top-bottom-6-rem{
        padding: 6rem 0;
    }

    .padding-top-1-rem{
        padding-top: 1rem;
    }

    .padding-top-2-rem{
        padding-top: 2rem;
    }

    .padding-bottom-2-rem{
        padding-bottom: 2rem;
    }

    .padding-bottom-6-rem{
        padding-bottom: 6rem;
    }

    .border-solid{
        border: solid;
    }

    .border-solid-white{
        border: solid white;
    }

    .border-solid-bottom-white{
        border-bottom: solid white 1px;
    }

    .border-radius-circle-white{
        border: solid white 1px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }


    .border-solid-10px-gris{
        border: solid #E3E3E3 10px;
    }

    .font-size-20px{
        font-size: 20px;
    }

    .font-size-35px{
        font-size: 35px;
    }

    .font-size-07-rem{
        font-size: 0.7rem;
    }

    .font-size-1-2-rem{
        font-size: 1.2rem;
    }

    .font-size-2rem{
        font-size: 2rem;
    }

    .font-size-3rem{
        font-size: 3rem;
    }

    .font-size-4rem{
        font-size: 4rem;
    }

    .font-weight-bold{
        font-weight: bold;
    }

    .font-family-open-sans{
        font-family: 'Open Sans', sans-serif;
    }

    .font-family-nunito{
        font-family: 'Nunito', sans-serif;
    }

    .background-color-antiquewhite{
        background-color: antiquewhite;
    }

    .background-color-white{
        background-color: white;
    }